[submodule "OpenSeq2Seq"]
	path = OpenSeq2Seq
	url = git@github.com:sugartom/OpenSeq2Seq.git
[submodule "PRNet"]
	path = PRNet
	url = git@github.com:sugartom/PRNet.git
[submodule "tensorflow-face-detection"]
	path = tensorflow-face-detection
	url = git@github.com:sugartom/tensorflow-face-detection.git
