[submodule "OpenSeq2Seq"]
	path = OpenSeq2Seq
	url = git@github.com:USC-NSL/OpenSeq2Seq.git
[submodule "tensorflow-face-detection"]
	path = tensorflow-face-detection
	url = https://github.com/USC-NSL/tensorflow-face-detection.git
